<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admissions Stage</title>
  <link rel="stylesheet" href="/css/admiss.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
      <nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
        <div style="background-color: FAF3F5;"  class="container-xxl">
          <!-- navbar brand / title -->
          <a class="navbar-brand" href="#Home">
              <img src ="/img/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                    </a>
          <!-- toggle button for mobile nav -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="">Guide</a>
              </li>
              <li class="nav-item">
                <a style="color:black;" class="nav-link" href="/Map">Map</a>
              </li>
              <li class="nav-item">
                <a style="color:black" class="nav-link" href="/Welfare">Welfare</a>
              </li>
              <li class="nav-item ms-2 d-none d-md-inline">
                <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="/">Log Out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
      <section id = "Guide">
          <div class="container">
            <P> <br> <br> <br> </P>
              <h1 style="color: #293a33; font-family: Lucida Fax; font-size: 20px;">Hi, Start Your Orientation Now</h1>
              <P> </P>
              <h1 style="color: 103908; font-family: Lucida Fax; font-size: 30px;">STEP I: ADMISSIONS</h1>
              <p> </p>
                  <div class="table-responsive">
                    <form id="admissionsform" enctype="multipart/form-data">
                      <div class="form-group">
                      <label class="now1" for="exampleInputEmail1" hidden >StudID:</label>
                      <input type="text" class="form-control" name="StudID" id="firstName" value="<%- stud.StudID%>" aria-describedby="emailHelp" placeholder="Enter First Name"  readonly hidden>
                    </div>
                      <!-- 
                        <div class="form-group">
                        <label class="now1" for="exampleInputEmail1">StudID:</label>
                        <input type="text" class="form-control" name="StudID" id="firstName" value="<%- stud.StudID%>" aria-describedby="emailHelp" placeholder="Enter First Name"  readonly>
                      </div>
                      <div class="form-group">
                        <label class="now1" for="exampleInputEmail1">Upload Jamb:</label>
                        <input type="file" class="form-control" name="Jamb" id="firstt" aria-describedby="emailHelp" placeholder="Enter First Name"  style="background-color: FAF3F5;" required>
                      </div>
                      <div class="form-group">
                        <label class="now1" for="exampleInputEmail1">Upload Waec:</label>
                        <input type="file" class="form-control" name="Waec" id="firstt" aria-describedby="emailHelp" placeholder="Enter First Name"  style="background-color: FAF3F5;" required>
                      </div>
                      <div class="form-group">
                        <label class="now1" for="exampleInputEmail1">Upload Transcript:</label>
                        <input type="file" class="form-control" name="Transcript" id="firstt" aria-describedby="emailHelp" placeholder="Enter First Name"  style="background-color: FAF3F5;" required>
                      </div>
                      <div class="form-group">
                        <label class="now1" for="exampleInputEmail1">Upload Rec_letter:</label>
                        <input type="file" class="form-control" name="Rec_letter" id="firstt" aria-describedby="emailHelp" placeholder="Enter First Name"  style="background-color: FAF3F5;" required>
                      </div>
                      <div class="form-group">
                        <label class="now1" for="exampleInputEmail1">Upload Passport:</label>
                        <input type="file" class="form-control" name="Passport" id="firstt" aria-describedby="emailHelp" placeholder="Enter First Name"  style="background-color: FAF3F5;" required>
                      </div>
                      <div class="form-group">
                        <label class="now1" for="exampleInputEmail1">Upload Personal Data:</label>
                        <input type="file" class="form-control" name="P_essay" id="firstt" aria-describedby="emailHelp" placeholder="Enter First Name"  style="background-color: FAF3F5;" required>
                      </div>
                       -->
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Activities</th>
                            <th>Files</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td>1</td>
                              <td>Submit Jamb Result Here</td>
                              <td>
                                  <input type="file" name="Jamb" id="jambFile">
                              </td>
                          </tr>
                          <tr>
                              <td>2</td>
                              <td>Submit Your WAEC Result Or Any Other Alternative Here</td>
                              <td> 
                                  <input type="file" name="Waec" id="waecFile">
                              </td>
                          </tr>
                          <tr>
                              <td>3</td>
                              <td>Submit Your Transcript (University/High School/Transfer)</td>
                              <td> 
                                  <input type="file" name="Transcript" id="tscriptFile">
                          
                              </td>
                          </tr>
                          <tr>
                              <td>4</td>
                              <td>Submit Your Recommendation Letter</td>
                              <td> 
                                  <input type="file" name="Rec_letter" id="rletterFile">
                              </td>
                          </tr>
                          <tr>
                              <td>5</td>
                              <td>Submit ID (International Passpoert/ Drivers License/ NIN)</td>
                              <td> 
                                  <input type="file" name="Passport" id="idFile">
                              </td>
                          </tr>
                          <tr>
                              <td>6</td>
                              <td>Submit Your Personal Essay</td>
                              <td> 
                                  <input type="file" name="P_essay" id="pEssayFile">
                              </td>
                          </tr>
                        </tbody>
                      </table>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                      <P> </P>
                     </div>
                    <p> <br> <br> </p>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ADMIN APPROVAL</th>
                    <th>STATUS</th>
                    <th>CHECK</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>OVERALL CHECK</td>
                      <td>APPROVED</td>
                      <td>
                      <label for="radio1"></label>
                      <input type="radio"  class="larger1" name="radios" disabled id="admissionOverall" />
                      </td>
                  </tr>
                  <tr>
                    <td colspan="3"><input type="text" name="" id="statusAdminvr" value="<%-stud.Adminvr%>" hidden> </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button class="previous" id="previousa" disabled >Previous</button>
            <a href="/finance?StudID=<%- stud.StudID%>">
              <button class="next" id="nexta" disabled >Next</button>
            </a>
      </section>
    </div>
   
    <script>
       var nextbutton = document.getElementById("nexta"); 

        var adminvrstatus = document.getElementById("statusAdminvr").value;

        var aadminvrstatus = document.getElementById("admissionOverall");


        if(adminvrstatus == "true"){
          aadminvrstatus.checked = true;
          nextbutton.disabled = false;
        }else{
          nextbutton.disabled = true;
        }

    </script>
     
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
           
  <%- include('include/_footer')%>

