<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orientation App</title>
  <link rel="stylesheet" href="/css/admiss.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
        <div style="background-color: FAF3F5;"  class="container-xxl">
          <!-- navbar brand / title -->
          <a class="navbar-brand" href="#Home">
              <img src ="img/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                    </a>
          <!-- toggle button for mobile nav -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/admissions">Guide</a>
              </li>
              <li class="nav-item">
                <a style="color:black;" class="nav-link" href="/Map">Map</a>
              </li>
              <li class="nav-item">
                <a style="color:black" class="nav-link" href="/Welfare">Welfare</a>
              </li>
              <li class="nav-item">
                <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="/">Log Out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
  <section id="finanaceStage">
    <div class="container">
      <P> <br> <br> <br> </P>
        <h1 style="color: 103908; font-family: Lucida Fax; font-size: 30px;"  >STEP II: FINANCE</h1>
        <P> </P>
        <form action="" method="POST" id="financeform"  onsubmit="return false">
          <div class="form-group">
            <label class="now1" for="exampleInputEmail1">StudID:</label>
            <input type="text" class="form-control" name="StudID" id="firstName" value="<%- stud.StudID%>" aria-describedby="emailHelp" placeholder="Enter First Name"  readonly>
          </div>
          <div class="form-group">
            <label class="now1" for="exampleInputEmail1">First Name:</label>
            <input type="text" value="<%- stud.Firstname%>" class="form-control" name="Firstname" id="firstt" aria-describedby="emailHelp" placeholder="Enter First Name"  style="background-color: FAF3F5;" required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" for="exampleInputEmail1">Last Name:</label>
              <input type="text" value="<%- stud.Lastname%>" class="form-control" name="Lastname" id="lastt" aria-describedby="emailHelp" placeholder="Enter Last Name"  style="background-color: FAF3F5;"required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" for="exampleInputEmail1">Middle Name:</label>
              <input type="text" value="<%- stud.Middlename%>" class="form-control" name="Middlename" id="midddle" aria-describedby="emailHelp" placeholder="Enter Middle Name"  style="background-color: FAF3F5;" required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" for="exampleInputEmail1">Major:</label>
              <input type="text" value="<%- stud.Major%>" class="form-control" name="Major" id="fMajor" aria-describedby="emailHelp" placeholder="Enter Major"  style="background-color: FAF3F5;" required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" for="exampleInputEmail1">Personal Email:</label>
              <input type="email" value="<%- stud.Personalemail%>" class="form-control" name="Personalemail" id="fEmail" aria-describedby="emailHelp" placeholder="Enter Email Address"  style="background-color: FAF3F5;" required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" for="admission-status">Payment Plan:</label>
              <P> </P>
              <select style="background-color: FAF3F5;" name="PaymentPlan"  value="<%- stud.PaymentPlan%>"id="admission-status" required>
                  <option value="DPP">Deffered Payment Plan</option>
                  <option value="Full">Full Payment</option>
                  <option value="Founder Scholarship">Founder Scholarship</option>
                  <option value="NFS">NFS Scholarship</option>
                  <option value="Shehu Atiku">Shehu Atiku</option>
                  <option value="Staff">Staff Plan</option>
              </select>
            </div>
            <p> </p>
            <div class="form-group">
              <label class="now1" for="exampleInputEmail1">Guardian Name:</label>
              <input type="text" class="form-control" value="<%- stud.GuardianName%>" name="GuardianName" id="gName" aria-describedby="emailHelp" placeholder="Enter Guardian Name"  style="background-color: FAF3F5;" required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" class="now1"for="exampleInputEmail1">Guardian Relationship:</label>
              <input type="text" class="form-control" value="<%- stud.GuardianRel%>" name="GuardianRel" id="gRelationship" aria-describedby="emailHelp" placeholder="Enter Relationship" style="background-color: FAF3F5;" required>
          </div>
            <p> </p>
            <P> </P>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>


          <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ADMIN APPROVAL</th>
                    <th>STATUS</th>
                    <th>CHECK</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>OVERALL CHECK</td>
                      <td>APPROVED</td>
                      <td>
                      <label for="radio1"></label>
                      <input type="radio"  class="larger1" name="radios" id="finanaceOverall" />
                      </td>
                  </tr>
                  <tr><td colspan="3"><input type="text" name="Financevr" id="getFinancevrstatus" value="<%- stud.Financevr%>" hidden> </td> </tr>
                </tbody>
              </table>
            </div>
            <a>
              <button class="previous" id="previousf" disabled>Previous</button>
            </a>            
            <a href="/itstage?StudID=<%- stud.StudID%>">
              <button class="next" id="nextf" disabled>Next</button>
            </a>
  </section>
    </div>
    <script>
      var nextff = document.getElementById("nextf");
      var status = document.getElementById("getFinancevrstatus").value;
      var rd = document.getElementById("finanaceOverall");

      if(status == "true"){
        rd.checked = true;
        nexff.disabled = false;
      }else{
        rd.checked = false;
        nexff.disabled = true;
      }

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>

  <%- include('include/_footer')%>

