<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orientation App</title>
  <link rel="stylesheet" href="/css/admiss.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
    <div style="background-color: FAF3F5;"  class="container-xxl">
      <!-- navbar brand / title -->
      <a class="navbar-brand" href="#Home">
          <img src ="img/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                </a>
      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/index">HOME</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/admissions">GUIDE</a>
              </li>
              <li class="nav-item">
                <a style="color:black;" class="nav-link" href="/Map">MAP</a>
              </li>
              <li class="nav-item">
                <a style="color:black" class="nav-link" href="/Welfare">WELFARE</a>
              </li>
              <li class="nav-item">
                <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="/index">Log Out</a> 
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <section id="housingStage">
      <div class="container">
        <P> <br> <br> <br> </P>
          <h1 style="color: 103908; font-family: Lucida Fax; font-size: 30px;"  >STEP IV: HOUSING & ID </h1>
          <form id="housingform"  action="results.html" method="POST"  onsubmit="return false">
            <div class="form-group">
              <label class="now1" for="exampleInputEmail1">StudID:</label>
              <input type="text" class="form-control" name="StudID" value="<%- stud.StudID%>" aria-describedby="emailHelp" placeholder="Enter First Name"  readonly>
            </div>
              <div class="form-group">
                <label class="now1" for="exampleInputEmail1">First Name:</label>
                <input type="text" value="<%-stud.Firstname%>" class="form-control" name="Firstname" id="hFName" aria-describedby="emailHelp" placeholder="Enter First Name" style="background-color: FAF3F5;" required>
              </div>
              <P> </P>
              <div class="form-group">
                  <label class="now1" for="exampleInputEmail1">Last Name:</label>
                  <input type="text" value="<%-stud.Lastname%>" class="form-control" id="hlName" name="Lastname" aria-describedby="emailHelp" placeholder="Enter Last Name" style="background-color: FAF3F5;" required>
              </div>
              <P> </P>
              <div class="form-group">
                  <label  class="now1"for="exampleInputEmail1">Middle Name:</label>
                  <input type="text" value="<%-stud.Middlename%>" class="form-control" id="hmName" name="Middlename" aria-describedby="emailHelp" placeholder="Enter Middle Name" style="background-color: FAF3F5;" required>
              </div>
              <P> </P>
              <div class="form-group">
                  <label class="now1" for="exampleInputEmail1">Phone Number:</label>
                  <input type="text" value="<%-stud.Phonenumber%>" class="form-control" name="Phonenumber" id="hPhoneNumber" aria-describedby="emailHelp" placeholder="Enter Phone Number" style="background-color: FAF3F5;" required>
              </div>
              <P> </P>
              <div class="form-group">
                  <label class="now1" for="exampleInputEmail1">Major:</label>
                  <input type="text" value="<%-stud.Major%>"  class="form-control" id="hMajor" name="Major" aria-describedby="emailHelp" placeholder="Enter Major" style="background-color: FAF3F5;" required>
              </div>
              <P> </P>
              <div class="form-group">
                  <label class="now1" for="exampleInputEmail1">Email:</label>
                  <input type="email" value="<%-stud.SchoolEmail%>" class="form-control" id="hEmail" name="SchoolEmail" aria-describedby="emailHelp" placeholder="Enter Email Address" style="background-color: FAF3F5;" required>
              </div>
              <P> </P>
              <div>
                <label class="now1" for="housing-types">Housing Types:</label>
                <P> </P>
                <select name="HousingType"  value="<%-stud.HousingType%>" id="housing-types" style="background-color: FAF3F5;" required>
                    <option value="3-in-1">3 - in - 1 with facilities</option>
                    <option value="2-in-1-with">2 - in - 1 with facilities</option>
                    <option value="2-in-1-without">2 - in - 1 without facilities</option>
                </select>
              </div>
              <p> </p>
              <div>
                  <label  class="now1" for="meal-plan">Preffered Meal Plan:</label>
                  <P> </P>
                  <select name="MealPlan"  value="<%-stud.MealPlan%>" id="meal-plan" style="background-color: FAF3F5;" required>
                      <option value="7 Days Meal Plan">7 Days Meal Plan</option>
                      <option value="14 Days Meal Plan">14 Days Meal Plan</option>
                      <option value="28 Days Meal Plan">28 Days Meal Plan</option>
                  </select>
                </div>
                <p> </p>
              <!-- <div>
                  <label class="now1" for="file">Passport Photograph:</label>
                  <p> </p>
                  <input id="PassportID" type="file" name="Pic_Passport">
                </div>
              <p> </p> -->
              
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ADMIN APPROVAL</th>
                    <th>STATUS</th>
                    <th>CHECK</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>OVERALL CHECK</td>
                      <td>APPROVED</td>
                      <td>
                      <label for="radio1"></label>
                      <input type="radio"  class="larger1" name="radios" id="housingOverall" disabled/>
                      </td>
                  </tr>
                  <tr>
                    <td colspan="3"><input type="text" name="" id="statushousing" value="<%-stud.Housingvr%>" hidden> </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a>
              <button class="previous" id="previoushs" disabled>Previous</button>
            </a>
            <a href="/health?StudID=<%- stud.StudID%>">
              <button class="next" id="nexths" disabled>Next</button>
            </a>
            <P> </P>
      </div>
  </section>
    </div>

    <script>
      var nextbutton = document.getElementById("nexths"); 

      var housingstatus = document.getElementById("statushousing").value;

      var hhousingstatus = document.getElementById("housingOverall");

      
      if(housingstatus == "true"){
        hhousingstatus.checked = true;
        nextbutton.disabled = false;
      }else{
        nextbutton.disabled = true;
      }

    </script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

<%- include('include/_footer')%>




