<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orientation App</title>
  <link rel="stylesheet" href="/css/admiss.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
    <div style="background-color: FAF3F5;"  class="container-xxl">
      <!-- navbar brand / title -->
      <a class="navbar-brand" href="#Home">
          <img src ="img/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                </a>
      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/index">HOME</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/admissions">GUIDE</a>
              </li>
              <li class="nav-item">
                <a style="color:black;" class="nav-link" href="/Map">MAP</a>
              </li>
              <li class="nav-item">
                <a style="color:black" class="nav-link" href="/Welfare">WELFARE</a>
              </li>
              <li class="nav-item ms-2 d-none d-md-inline">
                <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="/index">Log Out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section id="IT">
    <div class="container">
      <P> <br> <br> <br> </P>
        <h1 style="color: 103908; font-family: Lucida Fax;font-size: 30px;"  >STEP III: I.T </h1>
        <P> </P> 
        <form action="results.html" method="POST" onsubmit="return false">
          <div class="form-group">
            <label class="now1" for="exampleInputEmail1">StudID:</label>
            <input type="text" class="form-control" name="StudID" value="<%- stud.StudID%>" aria-describedby="emailHelp" placeholder="Enter First Name"  readonly>
          </div>
          <div class="form-group">
            <label class="now1" for="exampleInputEmail1">First Name:</label>
            <input type="text" class="form-control" value="<%- stud.Firstname%>" name="Firstname" id="itFName" aria-describedby="emailHelp" placeholder="Enter First Name" style="background-color: FAF3F5;" required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" for="exampleInputEmail1">Last Name:</label>
              <input type="text" class="form-control" value="<%- stud.Lastname%>" name="Lastname" id="itLName" aria-describedby="emailHelp" placeholder="Enter Last Name" style="background-color: FAF3F5;" required>
          </div>
          <P> </P>
          <div class="form-group">
              <label class="now1" for="exampleInputEmail1">Middle Name:</label>
              <input type="text" class="form-control" value="<%- stud.Middlename%>" name="Middlename" id="itMName" aria-describedby="emailHelp" placeholder="Enter Middle Name" style="background-color: FAF3F5;" required>
          </div>
          <P> <br> </P>
          <P> </P>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div>
        <P> </P>
        <P> </P>
        <p> </p>
        <label for="ContentPlaceHolder1"><a href="https://changepassword.aun.edu.ng/RDWeb">Please Click Here To Change Your Password:</a></label>
        </div>
        <P> <br> </P>
        <P> </P>
      
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ADMIN APPROVAL</th>
                <th>STATUS</th>
                <th>CHECK</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>OPENERP CREATION</td>
                  <td>APPROVED</td>
                  <td>
                      <label for="radio"></label>
                      <input type="radio"  class="larger1" name="radios" id="openErpradio" disabled />
                  </td>
                  
              </tr>
              <tr>
                <td> <br> </td>
                <td> </td>
                <td>
                  
                </td>
                
            </tr>
              <tr>
                  <td>OVERALL CHECK</td>
                  <td>APPROVED</td>
                  <td>
                      <label for="radio1"></label>
                      <input type="radio"  class="larger1" name="radios1" id="iTOverall" disabled/>
                  </td>
              </tr>
              <tr>
                <td><input type="text" name="" id="statusit" value="<%-stud.Itvr%>" hidden> </td>
                <td colspan="2"><input type="text" name="" id="statusoe" value="<%-stud.OpenerpStatus%>" hidden> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <P> <br> </P>
        <a>
          <button class="previous" id="previousit" disabled>Previous</button>
        </a>
        <a href="/housing?StudID=<%- stud.StudID%>">
          <button class="next" id="nextit">Next</button>
        </a>
    </div>
    </section>
    </div>

    <script>
      var nextbutton = document.getElementById("nextit"); 

      var itstatus = document.getElementById("statusit").value;
      var oestatus = document.getElementById("statusoe").value;

      var iitstatus = document.getElementById("iTOverall");
      var openerpstatus = document.getElementById("openErpradio");

      
      if(itstatus == "true"){
        iitstatus.checked = true;
      }
      if(oestatus == "true"){
        openerpstatus.checked = true;
      }

      if(oestatus == "true" && itstatus == "true" ){
        nextbutton.disabled = false;
      }else{
        nextbutton.disabled = true;
      }

    </script>
    
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
</body>

<%- include('include/_footer')%>


