<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Finance Admin Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link href="/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/chartist/css/chartist.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
              <p class="Orien1">Orientation <span class="blue">Guide App</span></p>
            

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
								<div class="input-group search-area d-lg-inline-flex d-none">
									<input type="text" class="form-control" placeholder="Search here...">
									<div class="input-group-append">
										<span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
									</div>
								</div>
                            </div>
                        </div>
                        
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
									<div class="header-info">
										<span class="text-black">Hello, <strong>OO-Finance</strong></span>
										<p class="fs-12 mb-0">Admin</p>
									</div>
                                  
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a href="/" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
      
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="form-head d-flex align-items-center mb-sm-4 mb-3">
					<div class="mr-auto">
						<h2 class="text-black font-w600">Dashboard</h2>
						<p class="mb-0">Finance Admin Dashboard</p>
					</div>
					<!-- <a href="" class="btn btn-outline-primary"><i class=""></i>Generate Report</a> -->
				</div>


        <div class="row align-items-center">
          <div class="col-xl-6 col-xxl-12 col-md-6">
            <div id="radialBar"></div>
          </div>
          <div class="col-xl-6 col-xxl-12 col-md-6">
            <div class="d-flex mb-4 align-items-center">
              <span class="mr-auto pr-3 font-w500 fs-30 text-black">
                <svg class="mr-3" width="8" height="30" viewBox="0 0 8 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="7.65957" height="30" fill="#BDA25C"/>
                </svg>
                50%
              </span>

        </div>



        <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
						      <td>No.</td>
                              <th>StudID</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Guardian Name</th>
                              <th>Guardian Relationship</th>
                              <th>PaymentPlan</th>
                              <th>Financevr</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
							<%for (var i = 0; i<students.length; i++){%>
                            <tr >
								                <td><%= i+1 %></td>
                                <td><%= students[i].StudID %></td>
                                <td><%= students[i].Firstname %></td>
                                <td><%= students[i].Lastname %></td>
                                <td><%= students[i].GuardianName %></td>
                                <td><%= students[i].GuardianRel %></td>
                                <td><%= students[i].PaymentPlan %></td>
                                <td ><%= students[i].Financevr %></td>
                                <td>
                                  <a href="/update-oofin?StudID=<%= students[i].StudID%>" class="btn border-shadow update" title="1">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                  </a>
                                  <!-- <a href="javascript:void(0)" data-toggle="modal" data-target="#verify">Update2</a> -->
                                </td>
                            </tr>
							<%}%>
                           
                          </tbody>
                        </table>
                    </div>
                    <br><br><br>
                    <a href="javascript:void(0)" class="btn btn-outline-primary" data-toggle="modal" data-target="#addOrderModal">Generate Report</a>

                     <!-- Add Order -->
                  <!-- <div class="modal fade" id="verify">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">SELECT WHICH THAT APPLIES</h5>
                          <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form id="oofinupdate_user" method ="POST">

                            <label for="StudID">StudID</label>
                            <input type="text" name="StudID" value="" ><br>
                        
                            <label for="Financevr">Financevr</label>
                            <input type="text" name="Financevr" value="" ><br>
                        
                        
                            <button type="submit">Save</button>
                        </form>
                      </div>
                      </div>
                    </div>
                  </div> -->
                    
                  </div>
                  </div>
                  <!-- Add Order -->
                  <div class="modal fade" id="addOrderModal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">SELECT WHICH THAT APPLIES</h5>
                          <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <table>
                              <thead>
                                <tr>
                                  <div class="form-group">
                                    <th>
              
                                      <label class="text-black font-w500">First Name</label>
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </th>
                                    <!-- <br><br><br> -->
              
                                    <th>
                                      <div class="now" style="padding:15px" >
                                      <label class="text-black font-w500">Last Name</label>
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </div>
                                    </th>
                                    <!-- <br><br><br> -->
                                    <th>
                                    <label class="text-black font-w500">Guardian Name</label>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    </th>
              
                                    <!-- <br><br><br> -->
                            </table>
                            </thead>
                            </tr>
                            <table>
                              <thead>
                                <tr>
                                  <div class="form-group">
                                    <th>
              
                                      <label class="text-black font-w500">Guardian Relationship</label>
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </th>
                                    <!-- <br><br><br> -->
              
                                    <th>
                                      <div class="now" style="padding:15px" >
                                      <label class="text-black font-w500">Payment Plan</label>
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </div>
                                    </th>
                                    <!-- <br><br><br> -->
                                    <th>
                                    <label class="text-black font-w500">Finance Vr</label>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    </th>
                                  </table>
                                  </thead>
                                  </tr>
                            <!-- <label class="text-black font-w500">HEALTH</label>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <br><br><br>
                            <label class="text-black font-w500">HOUSING</label>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <br><br><br>
                            <label class="text-black font-w500">ACTIVITIES</label>
                            <input type="checkbox">
                            <span class="checkmark"></span> -->
                        </div>
              
                        <div class="form-group">
                          <button type="button" class="btn btn-primary">CREATE REPORT</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
              
                </div>
              
                </div>
                <br><br><br>
              
                <br><br><br><br><br>
                <!--**********************************
                      Footer start
                  ***********************************-->
              
                <div class="footer">
                  <div class="copyright">
                    <p>Copyright 2022© Designed &amp; Developed by SDP Team 2022</p>
                  </div>
                </div>
  </div>

    <script src="/vendor/global/global.min.js"></script>
	<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/jsc/custom.min.js"></script>
	<script src="/jsc/deznav-init.js"></script>
	<script src="/vendor/bootstrap-datetimepicker/js/moment.js"></script>
	<script src="/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/vendor/peity/jquery.peity.min.js"></script>
	<script src="/vendor/apexchart/apexchart.js"></script>
	<script src="/jsc/dashboard/dashboard-1.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="/js/conn.js"></script>

	<script>
		$(function () {
			$('#datetimepicker1').datetimepicker({
				inline: true,
			});
		});
	</script>
</body>
</html>
