<%- include('include/header')%>


<form id="oohousingupdate_user" method ="POST">

    <label for="StudID">StudID</label>
    <input type="text" name="StudID" value="<%- stud.StudID%>" ><br>

    <label for="SchoolEmail">HousingType</label>
    <input type="text" name="HousingType" value="<%- stud.HousingType%>" ><br>

    <label for="OpenerpStatus">OpenerpStatus</label>
    <input type="text" name="MealPlan" value="<%- stud.MealPlan%>" ><br>

    <label for="Financevr">Housingvr</label>
    <input type="text" name="Housingvr" value="<%- stud.Housingvr%>" ><br>

    <button type="submit">Save</button>
</form>

<%- include('include/footer')%>

