<%- include('include/header')%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
     body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
    }
    </style>
</head>

<body>
    <p> <p>
    <div class="container card border-dark" style="margin-top: 10; text-align: center;">
        <h1 style="color: #293a33; font-family: Lucida Fax; font-size: 20px;">IT Verification Stage</h1>
        <p> <p>
        <form id="ooitupdate_user" method ="POST">
        <label for="StudID">Student ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="StudID" value="<%- stud.StudID%>" ><br>
        <p> <p>
        <label for="SchoolEmail">SchoolEmail</label>
        <input type="text" name="SchoolEmail" value="<%- stud.SchoolEmail%>" style="margin-left: 45px;"><br>
        <p> <p> 
        <div>
            <label  class="now1" for="Openerp Status">Openerp Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="OpenerpStatus" value="<%- stud.OpenerpStatus%>"  required><br>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
        </div>
        <P> <P>
        <div>
            <label  class="now1" for="itVerify">IT Verification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="Itvr" value="<%- stud.Itvr%>"  required><br>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
        </div>
        <p> <p>
            <button type="submit" class="btn btn-primary">Update Now</button>
        <p> <p>
       </form>

<%- include('include/footer')%>

